
#submitButton {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
}

.quiz-result-section {
  width: 400px;
}

.quiz-questions-section {
  padding: 20px;
  height: fit-content;
  width: fit-content;
  border: 2px solid black;
  border-radius: 10px;
}
