<div class="container">
  <div class="quiz-questions-section" *ngIf="filtredQuestions$ | async as questions">
    <quiz-question
    (userAnswer)="getUserAnswer($event)"
    *ngFor="let qst of questions"
    [isQuizSubmitted]="submited"
    [question]="qst"></quiz-question>
    <button id="submitButton" type="submit" [hidden]="!hasUserAnwseredAllQuestions || submited" (click)="onSubmit()">Submit</button>
  </div>
  <div class="quiz-result-section" *ngIf="hasUserAnwseredAllQuestions && submited">
    <quiz-result [score]="finalScore"></quiz-result>
    <quiz-resetter></quiz-resetter>
  </div>
</div>
