<div class="container">
  <div class="row justify-content-between">
    <div class="col-3">
      <p>{{question.question | unescape}}</p>
      <div class="answers-section">
        <button type="button" class="answerBtn"
                *ngFor="let answer of possibleAnswers"
                [ngClass]="{lockQuiz:isQuizSubmitted,userSelectedAnswer:selectedAnswer === answer}"
                (click)="onSelectAnswer(answer)"
                [class.expectedCorrectAnswer]="isQuizSubmitted && answer === question.correct_answer"
                [class.userCorrectAnswer]="isQuizSubmitted && selectedAnswer === question.correct_answer && selectedAnswer === answer"
                [class.userWrongAnswer]="isQuizSubmitted && selectedAnswer !== question.correct_answer && selectedAnswer === answer"
                >{{answer | unescape}}</button>
      </div>
    </div>
  </div>
</div>



