<h1>Quiz Maker App</h1>

<div class="container">
  <div class="quiz-maker-section">

    <div id="demoVideo">
      <button type="button" (click)="openDialog()" > Play Demo Video </button>
    </div>

    <div id="categorySelect">
      <auto-filter-dropdown [dataCollection]="mainCategories" (userSelectedChoice)="onSelectedCategory($event)">
      </auto-filter-dropdown>
    </div>

    <ng-container *ngIf="hasSubCategories">
      <div class="subCategorySelect">
        <auto-filter-dropdown [dataCollection]="subCategory" (userSelectedChoice)="onSelectedSubCategory($event)">
        </auto-filter-dropdown>
      </div>
    </ng-container>

    <div id="difficultySelect">
      <select class="form-control" (change)="onSelectedDifficulty($event)">
        <option>Select difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>

    <div id="createQuizBtn">
      <button type="button" id="createBtn" (click)="onCreateQuiz()">Create</button>
    </div>
  </div>
</div>
